name: akademik_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  firebase_core: ^3.12.1
  firebase_auth: ^5.5.1
  email_validator: ^3.0.0
  image_picker: ^1.0.7
  flutter_image_compress: ^2.1.0
  intl: ^0.19.0
  cloud_firestore: ^5.6.5
  firebase_storage: ^12.4.5
  package_info_plus: ^8.0.0
  firebase_messaging: ^15.0.0
  flutter_local_notifications: ^17.1.2
  flutter_local_notifications_linux:  ^4.0.1
  shared_preferences: ^2.2.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

  flutter_launcher_icons: ^0.13.1

flutter:

  uses-material-design: true

  assets:
    - assets/icon/icon.png


flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon/icon.png"
  min_sdk_android: 21
  adaptive_icon_background: "#FFFFFF"
  adaptive_icon_foreground: "assets/icon/icon.png"
